# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*.local
.env.local
.env.*.development
.env.development
.env.*.production
.env.production
.env.*.test
.env.test
.env.*.staging
.env.staging
secret.env.ts
secret.*.ts
secret.*.development.ts
secret.development.ts
secret.*.production.ts
secret.production.ts
secret.*.test.ts
secret.test.ts
secret.*.staging.ts
secret.staging.ts   

