<ul nz-menu nzMode="inline" class="side-bar">
    <li nz-menu-item routerLink="/admin/shop" routerLinkActive="active">
        <span nz-icon nzType="shop" nzTheme="outline"></span>
        <span>Tiendas</span>
        
    </li>
    <li nz-menu-item routerLink="/admin/products" routerLinkActive="active">
        <span nz-icon nzType="appstore" nzTheme="outline"></span>
        <span>Productos</span>
    </li>
    <li nz-menu-item routerLink="/admin/orders" routerLinkActive="active">
        <span nz-icon nzType="profile" nzTheme="outline"></span>
        <span>Órdenes</span>
    </li>
    <li nz-menu-item routerLink="/admin/invoices" routerLinkActive="active">
        <span nz-icon nzType="file-text" nzTheme="outline"></span>
        <span>Facturas</span>
    </li>
    
</ul>